[Unit]
Description=Daily update of Host OS
After=network.target local-fs.target
Wants=network-online.target
Conflicts=transactional-update.timer

[Timer]
OnCalendar=daily
AccuracySec=1m
RandomizedDelaySec=2h

[Install]
WantedBy=timers.target
